server:
  port: 8082

spring:
  application:
    name: user-service

  datasource:
    url: jdbc:mysql://localhost:3306/bibliotheque_users?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC
    username: root
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE:http://eureka:8761/eureka/}
  instance:
    prefer-ip-address: true

logging:
  level:
    ma.mundiapolis.userservice: DEBUG
    org.springframework.security: DEBUG

# JWT Configuration
jwt:
  secret: mySecretKeyForHS512AlgorithmMustBeAtLeast64CharactersLongForSecurityCompliance
  expiration: 86400000 # 24 hours in millisecondsw
